<ion-view >
	<ion-content class="has-header">
		<div class="list card" style="margin-top:10% !important;">
			<div class="item item-avatar" style="background-color: #27c4db !important">
				<img src="img/user-icon1.png">
				<h2 style="font-size: 25px !important;color: #fff;">Total Beneficiaries
				</h2>
				<b style="color: #fff">{{totalBeneficiaries | number:2}} Cr</b>
			</div>
        </div>
        <div class="list card" style="margin-top:10% !important;">
			<div class="item item-avatar" style="background-color: #e888c3 !important">
				<img src="img/note.png">
				<h2 style="font-size: 25px !important;color: #fff;">Total Services</h2>
				<b style="color: #fff">{{totalService}}</b>
			</div>
        </div>
        <div>
        	
        </div>
   	</ion-content>
</ion-view>