<ion-view>
  <ion-content>
	<div class="list" style="overflow-y: scroll">
		<div class="item item-divider" style="background-color: #06529e !important">
		 <b style="color: #fff !important">Cash Schemes</b>
		</div>
		<a class="item" href="#" style="background-color: #e0dcdd !important;border: 1px solid #06529e !important">
			<b style="width: 50%; float: left;">Total Beneficiaries</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">34.30 Cr</b>
		</a>
		<a class="item" href="#" style="background-color: #fff !important;border: 1px solid #06529e !important">
			<b style="width: 50%; float: left;">Aadhaar Seeded Beneficiaries</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">28.51 Cr</b>
		</a>
		<a class="item" href="#" style="background-color: #e0dcdd !important;border: 1px solid #06529e !important">
			<b style="width: 50%; float: left;">Total Direct Benefit Transfer</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">₹12,257.62 Cr</b>
		</a>
		<a class="item" href="#" style="background-color: #fff !important;border: 1px solid #06529e !important">
			<b style="width: 50%; float: left;">Aadhaar based payments</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">5,141.64 Cr</b>
		</a>
		<a class="item" href="#" style="background-color: #e0dcdd !important;border: 1px solid #06529e !important">
			<b style="width: 50%; float: left;">Number of Schemes</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">210</b>
		</a>
		<a class="item" href="#" style="background-color: #fff !important;border: 1px solid #06529e !important">
			<b style="width: 50%; float: left;">Ministry / Department</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">47</b>
		</a>
	</div>
	<div class="list">
		<div class="item item-divider" style="background-color: #cc317f !important">
		 <b style="color: #fff !important">In-Kind Schemes</b>
		</div>
		<a class="item" href="#" style="background-color: #e0dcdd !important;border: 1px solid #cc317f !important">
			<b style="width: 50%; float: left;">Total Beneficiaries</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">38,31,721</b>
		</a>
		<a class="item" href="#" style="background-color: #fff !important;border: 1px solid #cc317f !important">
			<b style="width: 50%; float: left;">Aadhaar Seeded Beneficiaries</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">12,52,353</b>
		</a>
		<a class="item" href="#" style="background-color: #e0dcdd !important;border: 1px solid #cc317f !important">
			<b style="width: 50%; float: left;">Total Transfer</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">12,52,353</b>
		</a>
		<a class="item" href="#" style="background-color: #fff !important;border: 1px solid #cc317f !important">
			<b style="width: 50%; float: left;">Aadhaar validated transactions</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">10,30,569</b>
		</a>
		<a class="item" href="#" style="background-color: #e0dcdd !important;border: 1px solid #cc317f !important">
			<b style="width: 50%; float: left;">Number of Schemes</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">26</b>
		</a>
		<a class="item" href="#" style="background-color: #fff !important;border: 1px solid #cc317f !important">
			<b style="width: 50%; float: left;">Ministry / Department</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">13</b>
		</a>
	</div>
	<div class="list">
		<div class="item item-divider" style="background-color: #688a58 !important">
		 <b style="color: #fff !important">Aadhaar Enabled Services</b>
		</div>
		<a class="item" href="#" style="background-color: #e0dcdd !important;border: 1px solid #688a58 !important">
			<b style="width: 50%; float: left;">Total Beneficiaries</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">296.71 Cr</b>
		</a>
		<a class="item" href="#" style="background-color: #fff !important;border: 1px solid #688a58 !important">
			<b style="width: 50%; float: left;">Aadhaar Seeded Beneficiaries</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">128.84 Cr</b>
		</a>
		<a class="item" href="#" style="background-color: #e0dcdd !important;border: 1px solid #688a58 !important">
			<b style="width: 50%; float: left;">Number of Services</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">31</b>
		</a>
		<a class="item" href="#" style="background-color: #fff !important;border: 1px solid #688a58 !important">
			<b style="width: 50%; float: left;">Ministry / Department</b>
			<b style="width: 50%; float: left;color: #06529e !important;text-align: right;">16</b>
		</a>
	</div>
  </ion-content>
</ion-view>
